.fond {
	background-image: url("../css/img/Fond.jpg");
	position: fixed;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	color : #d3002a;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	text-shadow: 3px 5px 5px black;
}

h2 {
	margin-left: auto;
}
h3 {
	text-align: center;
}
h4 {
	font-size: 0.8em;
}

header {
	background-color: #5a6668
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	color: white;
}

.card-img-top {
	justify-content: center;	
}

.card-hero {
	justify-content: space-between;
	display: inline-flex;
	align-items: center;
}
.card-monster {
	justify-content: space-between;
	display: inline-flex;
	align-items: center;
}
.card-img-top-elfe {
	width: 40%;
}
.card-img-top-naine {
	width: 39%;
}
.card-img-top-magic {
	width: 40%;
}
.card-img-top-guerriere {
	width: 40%;
}
.card-img-top-mage {
	width: 40%;
}
.card-img-top-ombre {
	width: 41%;
}
.card-img-top-gobelin {
	width: 54%;
}
.card-img-top-orque {
	width: 40%;
}